#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.todo-item-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}

.todo-item-wrapper .item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.todo-item-wrapper .item input {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.todo-item-wrapper .item input.editing {
  border-bottom: 1px solid #000;
  cursor: text;
  text-decoration: none !important; 
  color: #000 !important;
}

.todo-item-wrapper .item button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.todo-item-wrapper .item button.edit-btn {
  background-color: #4CAF50;
  color: white;
  position: relative;
}

.todo-item-wrapper .item button.edit-btn:after {
  content: "Edit todo";
  background-color: #00000047;
  color: #000;
  opacity: 0;
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 5px;
  border-radius: 3px;
  width: max-content;
}

.todo-item-wrapper .item button.edit-btn:hover:after {
  opacity: 1;
}



.todo-item-wrapper .item button.delete-btn {
  background-color: #f44336;
  color: white;
  position: relative;
}

.todo-item-wrapper .item button.delete-btn:after {
  content: "Delete todo";
  background-color: #00000047;
  color: #000;
  opacity: 0;
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 5px;
  border-radius: 3px;
  width: max-content;
}

.todo-item-wrapper .item button.delete-btn:hover:after {
  opacity: 1;
}

.todo-item-wrapper .item.completed input {
  text-decoration: line-through;
  color: #888;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-wrapper input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.input-wrapper button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.input-wrapper button:hover {
  background-color: #45a049;
}

.todo-item-btn-wrapper {
  display: flex;
  align-items: center;
}